/*
Anotaciones: 

margin: bordea el contenido por fuera de la caja

padding: bordea el contenido por dentro de la caja

border-style: se encuentra en el centro entre margin y padding

border-style: determina el tipo de borde

border-width: determina el grosor del borde

height: sirve para morificar el alto de la caja

width: sirve para modificar el ancho de la caja


















*/