body {
    background-color: #eee;
}

.linkToGoogle {
    color: hotpink;
    background-color: #0090ff; /* esto pintara el fondo como si fuera un div */
    padding: 7px;
    margin: 10px;
    border: solid 2px #ccc;
    border-radius: 4px;
    
}

.linkToGoogle:link { /* cambia el color del link */
    color: blue;
    text-decoration: none;
}

.linkToGoogle:visited { /* cambia el color del link una vez ya fue visitado */
    color: white;
}

.linkToGoogle:hover {
    color: #ccc;
    text-decoration: underline; /* cuando pasemos el mouse se subrayara */
    /* podemos usar la propiedad de background-color */
}

.linkToGoogle:active { /* cambia el color del link mientras mantengamos apretado el click */
    color: #ccc;
}